<div class="container">
           
        <div class=" row second-row answer">
              <div class="col-xs-12">
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <h2><span ng-show="lastAnswer.result"><img class="icon" src="images/iconos/carita-pan.svg"> Correcto! </span>
              <span ng-hide="lastAnswer.result"><img  class="icon" src="images/iconos/ko.svg">Incorrecto.</span>
              </h2>
               <h3> <strong> El Marginal </strong> se filmó en </h3>
              <p> Palermo, Villa Fiorito, Barrio 31</p>
             
              <strong class="btn no-click" ng-show="currentCheck.Comentarios != ''"> ¿Por qué? </strong>
              
              <p  class="wow slideInRight" data-wow-delay="2.2s" ng-show="currentCheck.Comentarios != ''"> </p>
            
        </div>
      </div>
       <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                    <h5> <strong> Tu puntaje es {{currentGame.points}}! </strong> </h5>
                    <h5> <a class="btn" ng-hide="gameFinish" href="" ng-click="nextQuestion()"> Segui > Vas {{currentGame.questions.length - currentGame.remaing}} de {{currentGame.questions.length}} </a></h5>
                      <h5> <a class="btn" ng-show="gameFinish" href="" ng-click="finishGame()"> FINALIZASTE. CONOCÉ TUS RESULTADOS.!</a></h5>
            </div>
            <div class="col-md-2"></div>
            
        </div>
          
    </div>
    </div>          
</div>


