<div class="container">
            <div class=" row first-row">
              <div class="col-xs-12">
            <div class="row firstSlide">
                <div class="col-md-2"></div>
                <div class="col-md-12">
                   
                    <h1 class="big"> <strong>
                    {{currentCheck['TITULO_PROYECTO']}} ({{currentCheck['PERIODO']}})</strong> 
                       </h1>
                       <h3>
                         contó con <strong>{{currentTitle.values.length}} </strong>jornadas de filmación en la ciudad.
                       </h3>
                       <a ng-href='https://www.imdb.com/search/title?title="{{currentCheck.TITULO_PROYECTO}}"' target="_blank"> Ver más sobre esta producción </a>
                      
                     <h4>
      <img src="https://maps.googleapis.com/maps/api/streetview?size=325x300&location={{currentCheck.lat}},{{currentCheck.lon}}&sensor=false&key=AIzaSyD9stAsiS_0E_LM69f6brmEYAQRxugQUDY"></h4>
                     <h5 class="wow fadeIn"> ¿Dónde está filmada esta escena?</h5>
                <div class="row">
                   <div class="col-md-12  wow fadeIn" data-wow-delay="0.1s" >
                    <div class="row">
                      <div class="col-xs-12 col-md-12" ng-repeat="a in possibleAnswersBarrio">
                          <div class="btn wow fadeIn" data-wow-delay="{{$index*3/10}}s" ng-click="responder(a)">
                            <div class="row">
                              <div class="col-xs-12">
                                <p>{{a}}</p>
                              </div>
                            </div> 
                        </div>
                      </div>
                    </div>
                   </div>
                   </div>
                </div>
                      
            
            </div>
          </div>
        </div>
   </div>

