<div class="container respuesta first-row">
        <div class="row firstSlide">
            
            <div class="col-xs-12 ">
               <h1> Terminaste!
                <h2> Tu puntaje fue {{currentGame.points}}! </h2>
          
             <div class="row">
              <div class="col-xs-12">
                <h3 class="">Compartí tu puntaje:</h3>
              </div>
                <div class="col-xs-4 share-menu animated dur-2">
                    <a class="waves-effect waves-light btn share" href="https://www.facebook.com/sharer/sharer.php?u=%20https%3A//tinchoforever.github.io/baset-game" target="_blank"><i class="fab fa-facebook fa-2" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-4 share-menu animated dur-2">
                    <a ng-href="https://web.whatsapp.com/send?text=Una Ciudad de Película 🎥 Tuve {{currentGame.points}}/5 respuestas correctas ¿y vos? https://tinchoforever.github.io/baset-game" target="_blank" class="waves-effect waves-light btn share hidden-xs" href=""><i class="fab fa-whatsapp fa-2" aria-hidden="true"></i></a>
                    <a ng-href="whatsapp://send?text=Una Ciudad de Película 🎥 Tuve {{currentGame.points}}/5 respuestas correctas ¿y vos? https://tinchoforever.github.io/baset-game" target="_blank" class="waves-effect waves-light hidden-md hidden-lg btn share c" ng-click="shareWhatsapp"><i class="fab fa-whatsapp fa-2" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-xs-4 share-menu animated dur-2">
                    <a ng-href="https://twitter.com/intent/tweet?text=Una Ciudad de Película 🎥 Tuve {{currentGame.points}}/5 respuestas correctas ¿y vos? https://tinchoforever.github.io/baset-game" target="_blank" class="waves-effect waves-light btn share" href=""><i class="fab fa-twitter fa-2" aria-hidden="true"></i></a>
                </div>
            </div>
                   <h3> <a href="" class="btn " ng-click="startGame()">Jugá de nuevo</a></h3>

          </div>
          <div class="col-xs-12">
            <div class="row center">
                <div class="col-xs-12 col-md-6 center">

<h3> Se filmaron más de <strong>{{netoProducciones.length}}</strong> producciones. </h3>

  <a href="#/producciones" class="btn wow fadeIn"><img src="images/main.svg"><br> Descubrí cuáles fueron las series más filmaron en la ciudad</a>
</div>
<div class="col-xs-12 col-md-6 center">
<h3> Se utilizaron más de <strong>{{netoLocaciones.length}}</strong> locaciones. </h3>

  <a href="#/locations" class="btn wow fadeIn"><img src="images/main.svg"><br> Descubrí los barrios que más se utilizaron</a>

</div>  
            </div>
          </div>
          <div class="col-xs-12">
            <p class="center">Este proyecto se realizó utilizando datos abiertos de la Ciudad que están disponibles en <a href="https://datos.buenosaires.gob.ar" target="_blank">datos.buenosaires.gob.ar</a></p>
          </div>

        </div>
        
