<div class="container respuesta first-row">
        <div class="row firstSlide">
            
            <div class="col-xs-12 col-md-6 ">
               <h1> Terminaste!
                <h2> Tu puntaje fue {{currentGame.points}}! </h2>
          
             <div class="row">
                <div class="col-xs-6">
                    <h3 class="">Compartí tu puntaje:</h3>
                </div>
                <div class="col-xs-2 share-menu animated dur-2">
                    <a class="waves-effect waves-light btn share" href="https://www.facebook.com/sharer/sharer.php?u=%20https%3A//tinchoforever.github.io/baset-game" target="_blank"><i class="fab fa-facebook fa-2" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-2 share-menu animated dur-2">
                    <a ng-href="https://web.whatsapp.com/send?text=Vos, Sabés si tub barrio es de película? Yo alcancé {{currentGame.points}}/5 respuestas correctas. https://tinchoforever.github.io/baset-game" target="_blank" class="waves-effect waves-light btn share hidden-xs" href=""><i class="fab fa-whatsapp fa-2" aria-hidden="true"></i></a>
                    <a ng-href="whatsapp://send?text=Vos, Sabés si tu barrio es de película? Yo alcancé {{currentGame.points}}/5 respuestas correctas. https://tinchoforever.github.io/baset-game" target="_blank" class="waves-effect waves-light hidden-md hidden-lg btn share c" ng-click="shareWhatsapp"><i class="fab fa-whatsapp fa-2" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-xs-2 share-menu animated dur-2">
                    <a ng-href="https://twitter.com/intent/tweet?text=Vos, Sabés si tu barrio es de película? Yo alcancé {{currentGame.points}}/5 respuestas correctas. #historiascondatos https://tinchoforever.github.io/baset-game" target="_blank" class="waves-effect waves-light btn share" href=""><i class="fab fa-twitter fa-2" aria-hidden="true"></i></a>
                </div>
            </div>
                   <h3> <a href="" class="btn " ng-click="startGame()">Jugá de nuevo</a></h3>

          </div>
          <div class="col-xs-12 col-xs-6 ">
            <div class="row center">
                <div class="col-xs-0 col-md-3">
                </div>
                <div class="col-xs-12 col-md-6">

                 <a href="#/stats" class="btn"><img src="images/main.svg"><br>Aprendé más de dónde se filma en la ciudad</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <p class="center">Este proyecto se realizó utilizando datos abiertos de la Ciudad que están disponibles en <a href="https://datos.buenosaires.gob.ar" target="_blank">datos.buenosaires.gob.ar</a></p>
          </div>

        </div>
        
