<div class="container">    
        <div class="row">
            <div class="col-md-12">
            <h2> Tu puntaje fue {{currentGame.points}}! </h2>
              <h5> <a href="" class="btn " ng-click="startGame()">Empezá de nuevo</a></h5>
              <hr/>
                <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="upper center">Compartilo en:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 share-menu animated dur-2 bounceInUp">
                    <a class="waves-effect waves-light btn share" href="https://www.facebook.com/sharer/sharer.php?u=%20https%3A//www.huesped.org.ar/aborto-VoF/" target="_blank"><i class="fab fa-facebook fa-2" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-4 share-menu animated dur-2 bounceInUp">
                    <a ng-href="https://web.whatsapp.com/send?text=Vos, ¿cuánto sabés sobre el debate por el #AbortoLegal? Yo alcancé {{currentGame.points}}/5 respuestas correctas. https://www.huesped.org.ar/aborto-VoF/" target="_blank" class="waves-effect waves-light btn share hidden-xs" href=""><i class="fab fa-whatsapp fa-2" aria-hidden="true"></i></a>
                    <a ng-href="whatsapp://send?text=Vos, ¿cuánto sabés sobre el debate por el AbortoLegal? Yo alcancé {{currentGame.points}} de 5 respuestas correctas. https://www.huesped.org.ar/aborto-VoF/" target="_blank" class="waves-effect waves-light hidden-md hidden-lg btn share c" ng-click="shareWhatsapp"><i class="fab fa-whatsapp fa-2" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-xs-4 share-menu animated dur-2 bounceInUp">
                    <a ng-href="https://twitter.com/intent/tweet?text=Vos,%20%C2%BFcu%C3%A1nto%20sab%C3%A9s%20sobre%20el%20debate%20por%20el%20%23AbortoLegal?%20Yo%20alcanc%C3%A9%20{{currentGame.points}}/5%20respuestas%20correctas.%0A%20https%3A//www.huesped.org.ar/aborto-VoF/" target="_blank" class="waves-effect waves-light btn share" href=""><i class="fab fa-twitter fa-2" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
      <div class="col-xs-12">
                <hr/>

                 
              <h2 class="center no-click"> <strong> Resumen de tu Juego </strong> </h2>
   
            <div ng-repeat="q in currentGame.questions">
             <hr/>
              <h5> <strong> {{q.TITULO_PROYECTO}}</strong> se filmó el {{q.FECHA_RODAJE}} en </h5>
              <p> {{q.COMUNA}} {{q.BARRIO}}</p>
                <h3><strong> {{q.DIRECCION}} </strong></h3>
              <h2> <small>Respondiente <strong> {{q.tuRespuesta}} </strong></small></h2>
               <img src="https://maps.googleapis.com/maps/api/staticmap?center={{q.lat}},{{q.lon}}&zoom=14&size=300x300&markers=color:red%7Clabel:C%7C{{q.lat}},{{q.lon}}&key=AIzaSyD9stAsiS_0E_LM69f6brmEYAQRxugQUDY">
              <img src="https://maps.googleapis.com/maps/api/streetview?size=300x300&location={{q.lat}},{{q.lon}}&sensor=false&key=AIzaSyD9stAsiS_0E_LM69f6brmEYAQRxugQUDY">
             
            <div class="small">
                
                
            </div>
        </div>
    </div>

   
   </div>


