<div class="container">
            <div class="row first-row">
                
                <div class="col-xs-12" >
                	<div class="head">
                		<p> #historiascondatos </p>
                    	<h2> Buenos Aires, una ciudad que se filma. </h2>
                   	</div>
                    <h3 ng-repeat="s in stats">
                	 <i class="fas fa-{{s.icon}}"></i>	{{s.number}} {{s.label}}
                	</h3>
                	<h2 class="wow fadeIn">¿Podrás adivinar si tu barrio es de película ? </h2>
                	  <h5 class="btn btn-50  wow fadeIn"
                	  	data-wow-delay="1s"
                	  	ng-click="startGame()">
                	  Empezá
                	</h5>
                   
                    
                </div>
             </div>
              
                
</div>
