<div class="container">
            <div class="row first-row">
                <div class="col-xs-0 col-md-0" >
                    <p></p>
                </div>
                <div class="col-xs-12 col-md-6 firstSlide main" >
                	<div class="head">
                		<p> #HistoriasConDatos </p>
                    	<h1>Una ciudad de Película </h1>
                   	</div>
        
                    
                        <flex-slider flex-slide="s in stats track by $index"
         animation="slide" direction-nav="false" control-nav="false" slideshow="true" slideshow-speed="2000">
                    <li>
                    <h1 class="center big">
                        <i class="fas fa-{{s.icon}}"></i> 
                    </h1>
                        <h1 class="center os">
                          {{s.number}} {{s.label}}
                        </h1>
                    </li>
                   </flex-slider>
                    <h3>Jugá con los <strong> Datos Abiertos </strong> de la Ciudad.</h3>
                   
                 

                	  <h5 class="btn wow fadeIn"
                	  	data-wow-delay="0.2s"
                	  	ng-click="startGame()">
                	  Empezar
                	</h5>
                   
                    
                </div>
             </div>
              
                
</div>
