<div class="container ">
            <div class="row firstSlide main">
                <div class="col-md-12 " ><div class="head">
                	   <p> #HistoriasConDatos </p>
                        <h1>Una ciudad de Película </h1>
                   	</div>
			
      <h1 class="big"> <strong>{{temas.key}} </strong> </h1> <p> se filmó  {{temas.values.length}} jornadas en la ciudad.Tuvo {{temas.values.lenght}} lugares diferentes como <strong> Palermo, Monserrat y Puerto Madero </strong>
			</h4>
			<p> A continuacion te mostramos las locaciones que utilizaron </p>
			<div class="row">
        <flex-slider flex-slide="q in temas.values track by $index"
         animation="slide" control-nav="false" slideshow="true" slideshow-speed="3000">
  <li>
    <div class="col-md-2">
    </div>
    <div class="col-md-8 firstSlide main">
    <h4> <strong>El {{q.FECHA_RODAJE}} en filmó en</strong>
              {{q.DIRECCION}}, {{q.BARRIO}}, {{q.COMUNA}} </h4>
              <div class="row">
                <div class="col-xs-6"> 
                <img src="
                  http://servicios.usig.buenosaires.gob.ar/LocDir/mapa.phtml?y={{q.lat.replace(',','.')}}&x={{q.lon.replace(',','.')}}&w=300&r=200&punto=1">
                </div>
                <div class="col-xs-6"> 
                  <img src="https://maps.googleapis.com/maps/api/streetview?size=300x300&location={{q.lat}},{{q.lon}}&sensor=false&key=AIzaSyD9stAsiS_0E_LM69f6brmEYAQRxugQUDY">
                </div>
              </div>
          </div>

  </li>
</flex-slider>
			
        	
			
		</div>
</div>