<div class="container respuesta first-row ">

           
        <div class=" row second-row answer firstSlide respuesta-{{lastAnswer.result}}">
              <div class="col-xs-12">
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1  class="big"><span ng-show="lastAnswer.result">Correcto!</span>
              <span ng-hide="lastAnswer.result"> Incorrecto</span> </h1>

              <h3>
                 En {{currentCheck.DIRECCION}}, <strong>{{currentCheck.BARRIO}} </strong> ({{currentCheck.COMUNA}}) se filmó una escena de <strong>{{currentCheck['TITULO_PROYECTO']}} </strong> el {{currentCheck.FECHA_RODAJE}}</h3>
<a ng-href='https://www.imdb.com/search/title?title="{{currentCheck.TITULO_PROYECTO}}"' target="_blank"> Ver más sobre esta producción </a>
              <div class="row">
                <div class="col-xs-6"><img src="
                  http://servicios.usig.buenosaires.gob.ar/LocDir/mapa.phtml?y={{currentCheck.lat.replace(',','.')}}&x={{currentCheck.lon.replace(',','.')}}&w=250&r=200&punto=1"></div>
                <div class="col-xs-6">
      <img src="https://maps.googleapis.com/maps/api/streetview?size=250x300&location={{currentCheck.lat}},{{currentCheck.lon}}&sensor=false&key=AIzaSyD9stAsiS_0E_LM69f6brmEYAQRxugQUDY"></div>
              </div>
               

            </div>

            <div class="col-xs-12 full-width">
                    <h2> <strong> Tu puntaje es {{currentGame.points}}  </strong> </h2> 
                    <h4 ng-hide="gameFinish">
                    Quedan {{currentGame.remaing}} de {{currentGame.questions.length}} </strong> </h4>
                    <h4 ng-show="gameFinish"> Conocé tus resultados.</h4>
                    <h5> <a class="btn" ng-hide="gameFinish" href="" ng-click="nextQuestionBarrio()"> Continuar! </a></h5>
                      <h5> <a class="btn " ng-show="gameFinish" href="" ng-click="finishGame()"> Terminar</a></h5>
            </div>
        </div>

    </div>
    </div>          
</div>

