<div class="container">
            <div class=" row first-row">
              <div class="col-xs-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-12">
                    <h2> 
                    En <strong>{{currentCheck['BARRIO']}}</strong>  se filmaron mas de <strong>{{currentBarrio.values.length}}</strong> escenas.
                       
                       </h2>
                       <h4 class="wow fadeIn">¿Cuál de estas producciones tiene escenas filmadas en {{currentCheck['BARRIO']}}? </h4>
                     <div class="row center">
                      <div class="col-xs-0 col-md-4">
                        <p></p>
                      </div>
                      <div class="col-xs-12 col-md-4">
                      <caba-chart container="'caba'" highlight="currentCheck['BARRIO']"></caba-chart></div>
                    </div>
                        
                    
                <div class="row">
                   <div class="col-md-12  wow fadeIn" data-wow-delay="3s" >
                    <div class="row">
                      <div class="col-xs-12 col-md-3" ng-repeat="a in possibleAnswersTitulo">
                          <div class="btn wow fadeIn" data-wow-delay="1.{{$index*2}}s" ng-click="responderTitle(a)">
                            <div class="row">
                              <div class="col-xs-12">
                                <p>{{a}}</p>
                              </div>
                            </div> 
                        </div>
                      </div>
                    </div>
                   </div>
                   </div>
                </div>
                      
            
            </div>
          </div>
        </div>
   </div>

