<div class="container">
            <div class="row first-row firstSlide">
                
                <div class="col-xs-12 col-md-12" >
                	<div class="head">
                		<div class="head">
                        <p> #HistoriasConDatos </p>
                        <h1>Una ciudad de Película </h1>
                    </div>
                   	</div>
                
                    
                
<div class="col-xs-12 col-md-6 center">

<h3> Se filmaron mas de <strong>{{netoProducciones.length}}</strong> producciones. </h3>

	<a href="#/producciones" class="btn btn-50 wow fadeIn"><img src="images/main.svg"><br> Descubrí cuáles fueron las series mas filmadas por barrio</a>
</div>
<div class="col-xs-12 col-md-6 center">
<h3> Se utilizaron mas de <strong>{{netoLocaciones.length}}</strong> locaciones. </h3>

	<a href="#/locations" class="btn btn-50 wow fadeIn"><img src="images/main.svg"><br> Descubrí los barrios que más se utilizaron</a>

</div>       
<div class="row">
    <div class="col-xs-12 col-md-12 center" >
                    <h5 class="center">Este proyecto se realizó utilizando datos abiertos de la Ciudad que están disponibles en <a href="https://datos.buenosaires.gob.ar" target="_blank">datos.buenosaires.gob.ar</a></h5>
                </div>
</div>            
                    
                </div>

             </div>
              
                
</div>
