<div class="container">
            <div class="row first-row">
                <div class="col-xs-12" ><div class="head">
                		<p> #historiascondatos </p>
                    	<h2> Buenos Aires, una ciudad que se filma. </h2>
                   	</div>
                    <h3 ng-repeat="s in stats">
                	 <i class="fas fa-{{s.icon}}"></i>	{{s.number}} {{s.label}}
                	</h3>
                	<div class="left">
<h2> Se filmaron mas de 30 producciones </h2>
<p> <a href=""> ¿Que Tipo fueron las mas filmadas?</a> </p>

<h2> Se utilizaron mas de <strong>{{netoLocaciones.length}}</strong> locaciones. </h2>
<p> <a href="#/locations"> ¿Cuales son los lugares mas populares?</a> </p>

<h2> Mas de {{netoLocaciones.length}} ficciones se filmaron </h2>
<p><a href="">  Ubica tu favorita y descubri sus locaciones</a> </p>

</div>