
html,body{
    color:black;
    font-family: 'Open Sans';
    overflow: hidden;
    

}
.head{
    font-size: 18px;
    border-color: transparent;
    white-space: normal;
    
    font-weight: 700;
    color: white;
    max-width: 100%;
    margin: 4px;
    word-break: keep-all;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border-radius: 12px;
}


.head h1, h1.big{
    font-size: 42px;
}
h1.big{
    font-size: 42px;
}

h1.os{
    font-family: 'Open Sans';
    font-weight: 600;
}

h3{
    font-family: 'Open Sans';
    
    font-weight: 400;
    margin-top: 3px;
    
}

h3 i{
  margin-right: 5px;  
}
a{
    color:black;
}

strong a{
        font-weight: 300;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    height: 106vh;


}



.container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 90vh;
}

.first-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background: #000000ba;
    color: white;
}

.first-row .firstSlide{
background-color: #ffffffe0;
    padding: 16px 13px;
    border-radius: 5px;
    background: #000000ba;
    color: white;
}
.firstSlide{
    padding: 16px 13px;
    border-radius: 5px;
    background: #000000ba;
    color: white;

}
.second-row{
    display: flex;
    padding-top: 2em;
    align-items: baseline;
}
.container .firstSlide{
    z-index: 200000;
    padding:0;
  
}
.respuesta .row{
        text-align: center;
        z-index: 20000;
        overflow: hidden;
     }



.respuesta h3{
     font-size: 18px;
    line-height: 23px;
    margin-top: 17px;
}

.share-menu{

    text-align: center;
}
.btn.share {
    border-radius: 40px;
    width: 45px;
    text-align: center;
    margin: 0;

}
.has-margin-top {
    margin-top: 3em;
}
.btn.no-click{
    cursor: initial;
}
.center{
    text-align: center;
}

.btn.no-click:hover{
    color:white;
}
a.btn.no-click:hover{
 color:white;
}
strong.btn.no-click:hover{
    color:white;
}
h4 img{height: 225px;  }
.btn p{
    margin: 0;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 0px;
    font-weight: 100;
}

h2 small, h6 small, h4 small, h5 small{
    font-size: 12px;  
    color:white;
}
ul li a {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width : 200px;
   overflow:hidden;
   display:inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;

}

ul { margin:0px;
    padding: 0px; 
    text-align: left;
    margin-left: 40px;}
li{
    list-style-type: none;
    font-size: 16px;
    line-height: 25px;
}

li i{
    margin-right: 8px;
}
.col-xs-12{
    margin-bottom: 2px;

}
h4{
    font-size: 1.2em;
    padding: 15px 15px;
}

h4 img{
    margin-left: -30px;
}

h5 {
        line-height: 17px;
    font-weight: 100;
    font-size: 13px;
    margin: 0;
}
.modal-dialog p{
    color: #683064;
    padding: 2em;
}
.modal-dialog a{
    color:#683064;
}

a{
    text-decoration: underline;
    color: #FFD200;
}
a:visited{
    text-decoration: underline;
    color: #FFD200;
}
a.btn:visited {
    color:white;
}
h5 a.btn{
    color:white;
}
a.btn {
    text-decoration: none;
}
.col-xs-12.col-md-6.firstSlide{
    padding: 16px 13px;
}
.col-md-12{
    padding: 1px 10px;
}
.col-xs-12.col-md-6.firstSlide.main, .col-xs-12.full-width{
    padding:0px;
    border-radius: 0;

}

.btn{
    font-size: 24px;
    border-color: transparent;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FFD200;
    color:black !important;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    
}
.btn-50{
    width: 75%;
}
.btn img, img.icon{
        width: 130px;
    margin-bottom: 12px;
}
.btn.high{
    font-size: 2.25em;
}
.btn-primary {
    background-color: #6bc049;
}

.logo {
    padding-left: 2em;
}

.video {
    margin-top: 4em;
}

.set h3 {
    font-size: 1.2em;
    padding: 2em 0em 1em 1em;
}

.set p {
    padding-left: 1em;
    font-size: 0.95em;
    line-height: 1.5;
    padding-top: 0.75em;
}

.set a {
    color: #6cbf48;
    padding: 1em;
    text-decoration: underline;
}

.respuesta .row .mapa{
    margin-left: -43px;
}
    
.whatis {
    background: #82c35b;
    color: white;
    margin-top: 3em;
}

.whatis h3 {
    padding-left: 2.5em;
    font-size: 2.3em;
    padding-top: 4.5em;
}

.whatis h4 {
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 7em;
    font-weight: bold;
}

.whatis img {
    margin-top: 2em;
    margin-bottom: 2em;
}

.whatis .text {
    padding-top: 3em;
}

.whatis .text a {
    color: white;
    text-decoration: underline;
}

.why {
    padding-bottom: 6em;
}

.why h3 {
    padding-left: 2em;
    font-size: 2.3em;
    padding-top: 4em;
    margin-bottom: 2em;
}

.why ul {
    font-size: 1.5em;
    font-weight: bold;
    color: #82c35b;
    margin-left: 1em;
}

.why li {
    margin-bottom: 1.5em;
}

.why .btn {
    margin-top: 4em;
    margin-left: 3em;
}

.why .text {
    margin-top: 5em;
}

.law {
    background: #82c35b;
    color: white;
    padding-bottom: 3em;
}

.law h3 {
    padding-top: 4em;
    font-size: 2.25em;
    padding-left: 2em;
}

.law h4 {
    padding-top: 4em;
    padding-left: 2em;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.7;
}

.law ul {
    margin-top: 2em;
    font-size: 1.1em;
}

.law li {
    margin-bottom: 1em;
}

.law .text {
    padding-top: 4em;
}

.law .text a {
    color: white;
    text-decoration: underline;
}

.law .text span {
    display: inline-block;
    background: white;
    color: #82c35b;
    margin-right: 1em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    padding-top: 0.25em;
}

.process {
    padding-bottom: 3em;
}

.process h3 {
    padding-top: 3em;
    font-size: 2.5em;
    padding-left: 2em;
    padding-bottom: 3em;
}

.process h4 {
    color: #82c35b;
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 2em;
    line-height: 1.5;
}

.process .text {
    padding-bottom: 1em;
    border-bottom: 1px solid #82c35b;
    margin-bottom: 2em;
}

.process h6 {
    font-size: 1.25em;
    font-weight: bold;
}

footer {
    text-align: center;
    background: black;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
}

footer .ongs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .ong {
    flex: 1;
}

footer .ong a {
    display: block;
}

footer p {
    margin-top: 3em;
}

@media (min-width: 768px) {
    .btn-50{
        width: 50%;
    }
    h4{
        font-size: 1.6em;
    }

    h4 img{
        margin-left: 0px;
    }

    .container {
        max-width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }

    .set p {
        min-height: 7.5em;
    }

    .set h3 {
        min-height: 7em;
    }

    .why .text {
        margin-top: 15em;
    }

    .whatis img {
        margin-left: 1em;
    }

    .law h4 {
        padding-right: 10em;
    }

    .process h4 {
        padding-right: 7em;
    }

    .respuesta .row .mapa{
    margin-left: 0px;
}

}

@media (min-width: 1200px) {
    .container {
        max-width: 1472px;
    }
}

.search {
    max-height: 25vh;
    background: #ffffff91;
    overflow: scroll;
    width: 90%;
    margin-left: 15px;
    margin-bottom: 10px;
}
hr{
    border-top: 6px solid #ffbc00;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    
}

h3 a.btn {
    color: white;
}
.flexslider{
    background: none;
    border: 0px;
    padding:0;
    margin:0;
}


.background-poster{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    opacity: 1;
}
h2, h3, h4{
    font-family: 'Open Sans';
}
.background-poster.poster-1{ background-image: url('../images/filma1.jpg');}
.background-poster.poster-2{ background-image: url('../images/filma2.jpg');}
.background-poster.poster-3{ background-image: url('../images/filma3.jpg');}
.background-poster.poster-4{ background-image: url('../images/filma4.jpg');}
.background-poster.poster-5{ background-image: url('../images/filma5.jpg');}
.background-poster.poster-6{ background-image: url('../images/filma6.jpg');}

.background-poster .wrapper{
    background-color:black;
}

select{
    color:black;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small{
    color:white;
}

.firstSlide.respuesta-true{
 background: #096900b3;
}
.firstSlide.respuesta-false{
    background: #b72d2d69;
}