
html,body{
    color:black;
    background: repeating-linear-gradient( -45deg, #ffec0b,  #ffff34 10px );
   
}
.head{
    font-size: 18px;
    border-color: transparent;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #E91E63;
    color: white;
    max-width: 100%;
    margin: 4px;
    word-break: keep-all;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 6px solid white;
    border-radius: 12px;
}

h3{
    font-family: 'OpenSans';
}

a{
    color:black;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    /*height: 100vh;*/
}



.container {
    padding-left: 2em;
    padding-right: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}
.first-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.second-row{
    display: flex;
    padding-top: 2em;
    align-items: baseline;
}
.share-menu{

    text-align: center;
}
.btn.share {
    border-radius: 20px;
    width: 36px;
    text-align: center;
    margin: 0;
    padding: 5px;
    padding-top:6px;
}
.has-margin-top {
    margin-top: 3em;
}
.btn.no-click{
    cursor: initial;
}
.center{
    text-align: center;
}

.btn.no-click:hover{
    color:white;
}
a.btn.no-click:hover{
 color:white;
}
strong.btn.no-click:hover{
    color:white;
}
h4 img{height: 350px;  }
.btn p{
    margin: 0;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2 small, h6 small, h4 small, h5 small{
    font-size: 12px;  
    color:white;
}
ul li a {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width : 200px;
   overflow:hidden;
   display:inline-block;
   text-overflow: ellipsis;
   white-space: nowrap;
}
h4{
    font-size: 1.2em;
}
.modal-dialog p{
    color: #683064;
    padding: 2em;
}
.modal-dialog a{
    color:#683064;
}

a{
    text-decoration: underline;
    color: #E91E63;
}
a:visited{
    text-decoration: underline;
    color: #E91E63;
}
h5 a.btn{
    color:white;
}
a.btn {
    text-decoration: none;
}

.btn{
    font-size: 18px;
    border-color: transparent;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #E91E63;
    color:white;
    margin: 4px;
    width: 100%;
}
.btn-50{
    width: 75%;
}
.btn img, img.icon{
    width: 50px;
}
.btn.high{
    font-size: 2.25em;
}
.btn-primary {
    background-color: #6bc049;
}

.logo {
    padding-left: 2em;
}

.video {
    margin-top: 4em;
}

.set h3 {
    font-size: 1.2em;
    padding: 2em 0em 1em 1em;
}

.set p {
    padding-left: 1em;
    font-size: 0.95em;
    line-height: 1.5;
    padding-top: 0.75em;
}

.set a {
    color: #6cbf48;
    padding: 1em;
    text-decoration: underline;
}

.whatis {
    background: #82c35b;
    color: white;
    margin-top: 3em;
}

.whatis h3 {
    padding-left: 2.5em;
    font-size: 2.3em;
    padding-top: 4.5em;
}

.whatis h4 {
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 7em;
    font-weight: bold;
}

.whatis img {
    margin-top: 2em;
    margin-bottom: 2em;
}

.whatis .text {
    padding-top: 3em;
}

.whatis .text a {
    color: white;
    text-decoration: underline;
}

.why {
    padding-bottom: 6em;
}

.why h3 {
    padding-left: 2em;
    font-size: 2.3em;
    padding-top: 4em;
    margin-bottom: 2em;
}

.why ul {
    font-size: 1.5em;
    font-weight: bold;
    color: #82c35b;
    margin-left: 1em;
}

.why li {
    margin-bottom: 1.5em;
}

.why .btn {
    margin-top: 4em;
    margin-left: 3em;
}

.why .text {
    margin-top: 5em;
}

.law {
    background: #82c35b;
    color: white;
    padding-bottom: 3em;
}

.law h3 {
    padding-top: 4em;
    font-size: 2.25em;
    padding-left: 2em;
}

.law h4 {
    padding-top: 4em;
    padding-left: 2em;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.7;
}

.law ul {
    margin-top: 2em;
    font-size: 1.1em;
}

.law li {
    margin-bottom: 1em;
}

.law .text {
    padding-top: 4em;
}

.law .text a {
    color: white;
    text-decoration: underline;
}

.law .text span {
    display: inline-block;
    background: white;
    color: #82c35b;
    margin-right: 1em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    padding-top: 0.25em;
}

.process {
    padding-bottom: 3em;
}

.process h3 {
    padding-top: 3em;
    font-size: 2.5em;
    padding-left: 2em;
    padding-bottom: 3em;
}

.process h4 {
    color: #82c35b;
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 2em;
    line-height: 1.5;
}

.process .text {
    padding-bottom: 1em;
    border-bottom: 1px solid #82c35b;
    margin-bottom: 2em;
}

.process h6 {
    font-size: 1.25em;
    font-weight: bold;
}

footer {
    text-align: center;
    background: black;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
}

footer .ongs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .ong {
    flex: 1;
}

footer .ong a {
    display: block;
}

footer p {
    margin-top: 3em;
}

@media (min-width: 768px) {
    .btn-50{
        width: 50%;
    }
    h4{
        font-size: 1.6em;
    }
    .container {
        max-width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }

    .set p {
        min-height: 7.5em;
    }

    .set h3 {
        min-height: 7em;
    }

    .why .text {
        margin-top: 15em;
    }

    .whatis img {
        margin-left: 1em;
    }

    .law h4 {
        padding-right: 10em;
    }

    .process h4 {
        padding-right: 7em;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1472px;
    }
}

.search {
    height: 50vh;
    background: #8080803d;
    overflow: scroll;
}